body{
    font-size: 12px;
}

div{
    border: solid 1px #fff; 
}

#main-title{
    border: solid 2px #bebebe;
}

span.title.rad {
    font-size: 14px;
}

.waterfall ul > li span{
    font-size: 10px;
}
